.admin-label {
    display: flex;
    flex-direction: column;
}

.admin-buttonSave {
    background-color: var(--secondaryClr);
    border: none;
    font-family: AvenirLTStd-Book;
    border-radius: 6px;
    color: #ffffff;
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    padding: 7px 96px;
    cursor: pointer;
}

.admin-formController {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: auto auto auto auto; */
    background: #ff000014;
    /* gap: 1rem; */
    align-items: center;
    justify-content: space-between;
}


.admin-changePassword {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    width: 12rem;
    line-height: 20px;
    color: #232323;
    line-height: 29px;
    outline: none;
    border-bottom: #ee5c4d 3px solid;
    font-family: ProximaNovaSoft-Regular;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.admin-input {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 9px;
    /* gap: 10px; */
    /* width: 342px; */
    /* height: 48px; */
    font-size: 18px;
    font-family: ProximaNovaSoft-Regular;
    background: #ffffff;
    border: 1px solid #d5d4dc;
    border-radius: 5px;
}

.admin-label {
    display: flex;
    flex-direction: column;
    font-family: ProximaNovaSoft-Regular;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding-bottom: 4px;
    color: #232323;
}